{% extends "base.html" %}
{% block content %}

<h3 class="products-title">All Products</h3>


<div class="row">
    {% for p in products %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">

                <a href="/product/{{ p.id }}/">
                    <img src="{{ p.image.url }}" height="220" class="card-img-top" style="object-fit: cover;">
                </a>

                <div class="card-body">
                    <h5>{{ p.title }}</h5>
                    <p class="text-success fw-bold">₹ {{ p.price }}</p>

                    <a href="/product/{{ p.id }}/" class="btn btn-outline-secondary w-100 mb-2">
                        View Details
                    </a>

                    <a href="/add-to-cart/{{ p.id }}/" class="btn btn-primary w-100">
                        Add to Cart
                    </a>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
